p{
    color: crimson;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin: 20px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: lightyellow;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}

h1 {
    color: navy;
    font-size: 36px;
    text-align: center;
    margin-top: 50px;
}

h3 {
    color: darkgreen;
    font-size: 24px;
    text-align: center;
    margin-top: 30px;
}